@{
    ViewData["Title"] = "Error";
}

<div class="text-center"><br><br><br><br>
    <h2>Error!</h2>
    Usuario o contraseña incorrectos!! <br><br>
    <button type="button" class="btn btn-primary"><a class="nav-link text-dark" href='@Url.Action("Login","Home")'>Volver</a></button> <br><br>
</div>