@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: rgb(0, 0, 0);">Inicio</h1><br>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Corporis nisi iusto autem rem animi dolore molestiae doloremque. <br>
    Illo at quae optio porro, in ea, iure modi voluptas est beatae vitae!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Corporis nisi iusto autem rem animi dolore molestiae doloremque. <br>
    Illo at quae optio porro, in ea, iure modi voluptas est beatae vitae!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Corporis nisi iusto autem rem animi dolore molestiae doloremque. <br>
    Illo at quae optio porro, in ea, iure modi voluptas est beatae vitae!</p>
    
    <button type="button" class="btn btn-primary"><a class="nav-link text-dark" href='@Url.Action("Login","Home")'>Iniciar Sesión</a></button> <br><br>
 
</div>