@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: rgb(0, 0, 0);">Inicio</h1><br>

    <p>En esta paguina web usted podra gestionar los policias,<br>
    agregando, eliminando y modificando sus datos <br>
    (DNI, Nombre Completo, Numero de Placa, Rol y Fecha de Nacimiento)<br>
    Asi mismo podra asignarles y modificar sus rutas/recorridos.</p>
    
    <button type="button" class="btn btn-primary"><a class="nav-link text-dark" href='@Url.Action("Login","Home")'>Iniciar Sesión</a></button> <br><br>
 
</div>