@{
    ViewData["Title"] = "Iniciar sesi칩n";
}

<div class="card" style="width: 18rem; margin-left: 37%; margin-top: 15%; background-color: #6f9ee6;">
    <div class="text-center card-body">
        <h1>Iniciar sesi칩n</h1><br>
        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div>
                <label for="username">Nombre de usuario:</label>
                <input type="text" id="username" name="username" required />
            </div>

            <div>
                <label for="password">Contrase침a:</label>
                <input type="password" id="password" name="password" required />
            </div>
            <br>
            <input type="submit" value="Iniciar sesi칩n" />
        }
    </div>
</div>