@{
    ViewData["Title"] = "Modificar Policia";
}

<div class="text-center">
    <h1 class="display-4">Modificar Policia 💀</h1>
    <br><br><br>
    <h3><u>Completa el formulario para modificar un policia</u></h3><br>
    
    
    <form method="post" action='@Url.Action("GuardarPolicia2", "Home", new {idp = ViewBag.IdObtenerPoli})'>
        @Html.AntiForgeryToken()
        
        Nombre Completo: <input type="text" name="nombre" size="20" value="hjhhjghgjhjg" required><br><br>
        DNI: <input type="text" name="DNI" size="30" value="klyursfgsssyurk" required><br><br>
        Fecha Nacimiento: <input type="date" name="fechaNacimiento" value="2231-12-12" size="20" required><br><br>
        Rol: <input type="text" name="rol" size="30" value="asdffdsadf" required><br><br>
        N° de Placa: <input type="text" name="numeroPlaca" size="20" value="sdfgkjsdcnbscndfgk" required><br><br>
        Contraseña: <input type="password" name="password" size="20" value="sdfgkjdfgk" required><br><br>
        <input class="btn btn-primary" type="submit" value="Guardar Policia">
        <input class="btn btn-danger" type="reset" value="Borrar datos ingresados">
        <br><br>
        <a href='@Url.Action("ListarPolicias", "Home")' class="btn btn-secondary">Cancelar</a>
    </form>
    
</div>